.jumbotron {
    text-align: center;
    background-color: sienna;
 }

 h1, h2 {
     color: white;
 }

 .card-header {
    color: #ffffff;
	background-color: #006dcc;
 }

 th {
    width: 250px;
    font-size: 14px;
    font-weight: bold;
 }
 
 td {
    width: 250px;
    font-size: 12px;
 }

 label {
    font-size: 14px;
 }